@charset "utf-8";
* {
	padding:0; 
	margin:0;
}
body, canvas {
	font-family: 'Roboto', sans-serif;
}

canvas {
	background: green;
	display: block;
	margin: 0 auto;
}

#appleCount {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
}